<!-- Logos -->
<div class="divlog">
		
    <div id= 'Img1'></div>

    <div id= 'Img2'></div>
</div>
<!-- Logos -->
<!-- Menu -->
<div class="containerMenu" >
    <ul class="lista" id="" >
        <li  id="">
            <a class="registro" id="registro" href="#">Registro</a>
        </li>
        <li id="" >
            <a class="ingreso" id="ingreso"  href="#">Ingreso</a>
        </li>

        <li  id="" >
            <a class="index"  id="index" href="index.php">Inicio</a>
        </li>

        <li  id="" onclick="Salir()">
            <a class="salir" id="salir"  href="Salida.php">Salir</a>
        </li>
    </ul>

</div>

<!-- Menu -->